/* 全局样式 */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    /* 基础字体大小 */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}

.main-content h1,
p {
    color: #333;
    font-weight: bold;
}

/* 导航栏样式 */
nav {
    background-color: #333;
    color: #f8f9fa;
    padding: 0.625rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

nav .site-title {
    margin-right: auto;
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #f8f9fa;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 10px;
}

nav .search-form {
    display: flex;
}

nav .search-form input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}

nav .search-form button {
    padding: 5px;
}
/* 搜索栏容器样式 */
.search-form {
    position: relative;
    width: 50px;
    height: 25px;
    overflow: hidden;
    transition: width 0.5s ease;
    cursor: pointer;
}

/* 输入框样式 */
.search-form input[type="text"] {
    position: absolute;
    /* 绝对定位，使之能在容器内正确显示 */
    right: 0;
    top: 0;
    border: none;
    padding: 10px;
    width: 100%;
    /* 充满整个容器 */
    height: 100%;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    /* 平滑过渡透明度变化 */
}

/* 搜索按钮样式 */
.search-form button {
    position: absolute;
    /* 绝对定位 */
    right: 0;
    top: 0;
    width: 40px;
    /* 按钮宽度 */
    height: 100%;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
}

/* 鼠标悬停于搜索表单容器时的样式 */
.search-form:hover,
.search-form:focus-within {
    width: 200px;
}

/* 鼠标悬停时的输入框样式 */
.search-form:hover input[type="text"],
.search-form:focus-within input[type="text"] {
    opacity: 1;
}

/* 初始化时输入框透明度为0，不显示 */
.search-form input[type="text"] {
    opacity: 0;
}

/* 初始化时，只显示搜索按钮 */
.search-form button {
    display: block;
}
/* 主内容区 */
.main-content {
    margin-top: 50px;
    flex: 1;
    /* 允许主内容区伸展以填满除头部和页脚外的所有空间 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* 控制主内容宽度 */
    margin: auto;
    /* 水平居中显示 */
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.carousel {
    width: 960px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-section {
    width: 100%;
    max-width: 960px;
    margin: 5px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 20px;
}

.content-section h2 {
    margin-top: 0;
}

.content-section h2 a {
    color: #333;
    text-decoration: none;
}

.content-section p {
    color: #666;
}

/* 页脚样式 */
.footer {
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
.footer p {
    color: #f8f9fa;
}
