/* 基本全局样式 */
html,
body {
    height: 100%;
    /* 让html和body高度充满整个视窗 */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    /* 使主体内容和页脚按列方向排列 */
}

/* 导航栏样式 */
nav {
    background-color: #002233;
    padding: 0.625rem 0;
    /* 使用rem以适应不同的屏幕分辨率和用户设置 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 0.625rem 0.9375rem;
    display: inline-block;
}

/* 鼠标悬停在链接上时的效果 */
nav ul li a:hover {
    background-color: #004466;
}

/* 主内容区域 */
.main-content {
    padding: 1.25rem;
    text-align: center;
    flex: 1;
    /* 让主内容区域伸展填满除了头部和页脚之外的所有空间 */
    font-size: x-large;
}

header {
    background-color: #f8f9fa;
    color: #f8f9fa;
    padding: 1.25rem;
}
header h1, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #002233;
}
.carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* 超出部分隐藏 */
}

.carousel-item {
    width: 1280px;
    /* 固定宽度 */
    height: 800px;
    /* 固定高度 */
    position: relative;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    /* 隐藏超出部分 */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保证图片覆盖整个区域且不变形 */
    object-position: center;
    /* 图片始终居中 */
}

/* 内容区块 */
.content-section {
    background-color: white;
    border: 1px solid #ddd;
    margin: 1.25rem;
    padding: 1.25rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size:large;
}

/* 页脚样式 */
.footer {
    background-color: #002233;
    color: white;
    text-align: center;
    padding: 0.625rem 0;
    width: 100%;
}
.footer p {
    margin: 0;
    color: #f8f9fa;
}

/* 响应式布局调整 */
@media (max-width: 48rem) {
    nav ul li {
        display: block;
        margin: 0.3125rem;
    }
}